h1 {
  margin: 0;
  margin-right: auto;
}

.products-container {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(1fr, 25%));
}

.product {
  border: 1px solid black;
}

.product ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product li {
  display: flex;
  justify-content: center;
  padding-block: 0.2rem;
  text-align: center;
}

.checkbox-container {
  display: flex;
  justify-content: flex-start;
}

li.product-id {
  display: none;
}
