h1 {
  margin-right: auto;
}

.input-group {
  padding-inline: 0.6rem;
  margin-bottom: 0.3rem;
  display: flex;
  width: 50%;
}

.input-group label {
  margin-right: auto;
}

.input-group input,
select {
  display: block;
  width: 90%;
}

.error {
  font-style: italic;
  color: red;
  padding-inline: 0.3rem;
}
